.container-fluid{
    padding: 0;
}

.container-fluid .row {
    margin: 0;
}

/* NavBar */

.navbar {
    border-bottom: 1px solid #333333;
    margin-bottom: 20px;
}

.navbar-nav {
    margin: auto;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link {
    color: #333333;
    letter-spacing: 1px;
}

/* Clientes */

.list-div {
    padding: 0;
}

.cliente-list {
    padding-left: 0;
}

.cliente-item {
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding: 0 15px;
    padding-top: 10px;
    border-bottom: 1px dashed #cccccc;
}

.cliente-item .done {
    background-color: #ffefef;
}
